<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan's Web 註冊驗證</title>
</head>

<body>
    <h1 style="font-size:60px;text-align:center;">您的信箱已啟用成功！！</h1>
</body>

</html>