<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan's Web 註冊過期</title>
</head>

<body>
    <h1 style="color:red;60px;text-align:center;">您的信箱驗證已過期，請重新註冊！</h1>
</body>

</html>