<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS_Main/Sidebar.css">
    <link rel="stylesheet" href="/CSS_Main/RightArea.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="/CSS_Main/Animation.css">
    <link rel="stylesheet" href="/CSS_Main/RWD.css">
    <link rel="icon" href="https://s.yimg.com/zp/MerchandiseImages/DB79DAC6A4-SP-7224339.jpg" type="image/x-icon" />
    <title>Alan's Web 登入</title>
</head>

<body>
    <div id="container">

        <div id="left">
            <div id="logo">
                <nobr>A l a n 的 網 站</nobr>
            </div>

            <div id="controllers">
                <div id="home" onclick="location.href='/'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-house-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                    </svg>

                </div>
                <div id="login" onclick="location.href='/login'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black"
                        class="bi bi-door-open-fill" viewBox="0 0 16 16">
                        <path
                            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
                    </svg>

                </div>
                <div id="about" onclick="location.href='/about'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-book-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>

                </div>
            </div>

            <div id="legal"></div>
        </div>

        <div id="mid">
            <div id="logincontainer">
                <div id="logincontent">
                    <div id="logintit">
                        登入
                    </div>
                    <form action="/auth/login" method="post">
                        <div class="item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="green"
                                class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
                                <path
                                    d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791" />
                            </svg>

                            <input type="email" name="email" id="email" placeholder="信箱" required>
                        </div>
                        <div class="item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="red"
                                class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                            </svg>
                            <input type="password" name="password" id="password" placeholder="密碼" required>
                        </div>
                        <input type="submit" value="登入" id="sublogin">
                    </form>
                    <a href="/register">沒有帳號？點此註冊</a>
                    <div style="color: red; font-weight:600; font-size: 30px;text-align:center;">
                        {{message}}
                    </div>
                </div>

            </div>
            <div id="bg1"></div>
            <div id="bg2"></div>
            <div id="bg3"></div>

        </div>

        <div id="right">
            <div id="rightcontent">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="gray"
                    class="bi bi-person-fill-exclamation icon" viewBox="0 0 16 16">
                    <path
                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4" />
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                </svg>
                <div id="name"></div>
                <div id="loginbtn" onclick="location.href='/login'">
                    <nobr>登入</nobr>
                </div>

                <div id="notice">
                    <nobr>登入後即可使用！</nobr>
                </div>
            </div>

        </div>

    </div>
</body>

</html>