/* ==========================登入首頁=========================== */
#mid {
    grid-area: mid;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

#welcome {
    position: absolute;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    letter-spacing: 8px;
    font-weight: 600;
    z-index: 1;
    color: rgb(73, 72, 72);
    font-size: 50px;
    text-align: center;
    top: 45%;
    left: 45%;
    z-index: 95;
    transform: translate(-45%, -45%);
    animation: appear 1.5s ease-in-out;
}

#bg1 {
    background: linear-gradient(135deg, pink 40%, orange);
    width: 500px;
    height: 500px;
    z-index: -1;
    clip-path: circle(95% at 0% 0);
    animation: float 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

#bg2 {
    background: linear-gradient(90deg, pink, lightblue);
    width: 600px;
    height: 600px;
    float: right;
    z-index: -1;
    clip-path: circle(50% at 100% 50%);
    animation: float 3s ease-in-out infinite;
    animation-delay: 1s;
}

#bg3 {
    background: linear-gradient(45deg, lightgreen, pink);
    width: 450px;
    height: 450px;
    float: bottom;
    z-index: -1;
    clip-path: circle(50% at 10% 85%);
    animation: float 3s ease-in-out infinite;
    animation-delay: 1.5s;
}

#rightcontent img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}