/* ===============================1100============================ */
@media screen and (max-width: 1100px) {
    #sendmsgbtn {
        width: 50px;
    }

    #mymsg {
        width: 65%;
    }

    #bg1 {
        background: linear-gradient(135deg, pink 40%, orange);
        width: 400px;
        height: 400px;
        z-index: -1;
        clip-path: circle(95% at 0% 0);
    }

    #bg2 {
        background: linear-gradient(90deg, pink, lightblue);
        width: 500px;
        height: 500px;
        float: right;
        z-index: -1;
        clip-path: circle(50% at 100% 50%);
    }

    #bg3 {
        background: linear-gradient(45deg, lightgreen, pink);
        width: 400px;
        height: 550px;
        float: bottom;
        z-index: -1;
        clip-path: circle(50% at 0% 100%);
    }
}

/* ==========================800=================================== */
@media screen and (max-width: 800px) {
    .btn {
        z-index: 9999;
    }

    .roomlist {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    #sendmsgbtn {
        width: 50px;
    }

    #mymsg {
        width: 80%;
    }

    #bottomfrienslist {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        font-weight: 600;
        font-family: 'ZCOOL KuaiLe', sans-serif;
        z-index: 0;
    }

    .friend {
        z-index: -1;
    }

    .friend img {
        width: 50px;
        height: 50px;
    }

    #chatroomlists {
        z-index: 0;
    }

    #bottomlist {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        color: gray;
        font-weight: 600;
        font-family: 'ZCOOL KuaiLe', sans-serif;
        z-index: 0;
    }

    .applylist nobr {
        font-size: 20px;
        color: black;
    }

    #bottombar h1 {
        font-size: 20px;
    }

    #upbar {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 18px;
        border-radius: 0;
    }

    #upbar div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 0;
        padding: 0 5px 0 0;
        border-right: 1px solid #eee;
    }

    #reqfriendbtn {
        width: 100px;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 0.5px solid rgb(201, 199, 199);
        border-radius: 10px;
        color: #eee;
        background-color: gray;
    }

    .list {
        width: 100%;
        height: 60px;
        font-size: 10px;
        z-index: 0;
    }

    .list img {
        width: 55px;
        height: 55px;
    }

    #noicon {
        width: 45px;
        height: 45px;
    }

    .list nobr {
        font-size: 20px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    #filldata {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #filldata input {
        height: 90%;
        font-size: 25px;
    }

    #submitbtn input {
        height: 90%;
        font-size: 25px;
    }

    #submitbtn {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #midcontent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #leftpage {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #rightpage {
        width: 100%;
        height: 70%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #rightpage div {
        margin: 1%;
        font-size: 20px;
        width: 100%;
    }

    #rightpage div input {
        width: 100%;
        height: 50%;
        border: none;
        border-bottom: 0.3px solid #a4a3a3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'ZCOOL KuaiLe', sans-serif;
        color: rgb(220, 142, 220);
        text-shadow: 3px 3px 3px black;
        letter-spacing: 2px;
        outline: none;
    }

    #rightcontent img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    #righticon {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }


    #personinstruction {
        display: flex;
        flex-direction: column;
    }

    #hidesidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 85%;
        height: 100dvh;
        background-color: #eee;
        z-index: 99;
        box-shadow: 1px 1px 10px black;
    }

    #closebtn {
        display: flex;
        float: right;
        z-index: 100;
        transition: 0.5s;
        cursor: pointer;
    }

    #closebtn:hover {
        background: gray;
    }

    .searchcontent.active {
        font-size: 23px;
        display: flex;
        outline: none;
        background-color: transparent;
        border: none;
        height: 80%;
        width: 100%;
    }

    #controllbtn {
        display: flex;
        grid-area: 'controllbtn';
        order: 1;

    }

    #searchbtn {
        cursor: pointer;
        display: flex;
        grid-area: 'searchbtn';
        order: 3;
        margin: 0;
        justify-self: flex-end;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }

    #searchicon {
        padding: 10px;
    }

    #searchicon:hover {
        background-color: #eee;
    }

    .searchcontent {
        display: none;
    }

    #welcome {
        font-size: 35px;
        z-index: 1;
    }

    #notice {
        font-size: 18px;
        padding: 7px;
    }

    #name {
        font-size: 30px;
    }

    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.15fr;
        grid-template-areas: "left" "mid" "right";
        grid-gap: 0px;
    }

    #left {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: grid;
        grid-template-columns: 1fr 2fr 8fr 0.1fr;
        flex-direction: row;
        grid-gap: 5px;
    }

    #logo {
        font-size: 25px;
        width: 60%;
        order: 2;
        text-align: center;
        justify-content: center;
        border-bottom: none;
        grid-area: 'logo';
        border-right: 0.3px solid gray;
        display: flex;
        align-items: center;
        font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    }

    #controllers {
        display: none;
    }

    #legal {
        display: none;
    }

    #rightcontent {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #loginbtn {
        font-size: 15px;
        align-items: center;
        padding: 10px;
    }

    #rightcontent div {
        margin: 1%;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 600px) {
    #rightcontent img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}

/* ================330================== */
@media screen and (max-width: 330px) {
    #rightcontent img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    #welcome {
        font-size: 25px;
    }

    #name {
        font-size: 25px;
    }

    #logo {
        font-size: 20px;
        width: 50%;
        height: 50%;
    }

    #bg1 {
        background: linear-gradient(135deg, pink 40%, orange);
        width: 350px;
        height: 400px;
        z-index: -1;
        clip-path: circle(95% at 0% 0);
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    #loginbtn {
        font-size: 15px;
        padding: 5px;
    }

    #notice {
        font-size: 15px;
    }
}